body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
}

a, a:visited, a:hover {
	color: black;
	text-decoration: underline;
}

.street {
	width: 100%;
    height:100vh;
	position: absolute;
}

.fuori-strada {
	background-color: #262626;
	width: 100%; /* unica classe */
	height: 4%;
}

.bordo-strada {
	background-color: #cc6221;
	width: 100%; /* unica classe */
	height: 4%;
}

.strada {
	background-color: #1c1b1b;
	width: 100%; /* unica classe */
	height: 39.5%;
}

.linee-container {
	height: 100%;
	position: relative;
	right: 0;
}

.linee-guida {
	float: left;
	background-color: #ffffff;
	width: 10%; /* unica classe */
	height: 6%;
	margin-top: 8%;
	margin-left: 17%;
}

.floatLeft {
	float: left !important;
	margin-left: 0px !important;
	width: 5% !important;
}

.floatRight {
	float: right !important;
	margin-right: 0px !important;
	width: 5% !important;
}

.divisore {
	background-color: #ffffff;
	width: 100%; /* unica classe */
	height: 2%;
}

.spaziatore {
	background-color: #262626;
	width: 100%; /* unica classe */
	height: 1%;
}

#riepilogo {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #171717e6; /* 10% di trasparenza */
	font-family: Calibri; /* Aggiungere alternative */
	transition: all 500ms ease-in-out;
}

#title {
	font-size: 150px;
	text-align: center;
	color: white;
	padding-top: 10%;
	padding-bottom: 0.5%;
}

#description {
	font-size: 25px;
	color: white;
	text-align: center;
}

#button {
	display: block;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border-style: none;
	font-size: 30px;
	background-color: #ffffffe6;
	border: 3px solid #ffffff; /* Forse anche 2px */
	
	margin: 0 auto;
	margin-top: 5%;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

#button:hover {
	background-color: #ffffffed;
}

#button:active {
	background-color: #ffffff;
}

.contatore {
	position: relative;
	color: white;
	font-size: 40px;
	font-family: Calibri; 
}

#score {
	float: right;
	margin: 4% 4% 0 0;
}

#vita {
	float: left;
	margin: 4% 0 0 4%;
}

#cuore {
	vertical-align: middle;
}

#personaggio-container {
	position: relative;
}

#er-faina-item {
	width: 30px;
	height: auto;
	margin-left: 10%;
	margin-top: 0px;
	
	transition: margin 400ms ease-in-out;
}

#donne-container {
	position: absolute;
	width: 100%;
}

.donne {
	position: fixed;
	width: 25px;
	height: auto;
	margin-left: 5%;
	margin-top: 0px;
	
	left: 1920px;
	display: none;
	transition: margin 400ms ease-in-out;
}

#scuola {
	width: 35px;
	height: auto;
}

.top {
	top: 1%;
}

.bottom {
	bottom: 1%;
}

